@import "tailwindcss";

:root {
  --background: #000;
}

body {
  background-color: var(--background);
  color: #fff;
  font-family: var(--font-manrope), sans-serif;
  width: 1600px;
  margin: 0 auto;
}
